/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

/* Header */
/* header {
    padding: 0 1rem;
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    z-index: 99;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}


#logo {
    background-color: white;
    width: 250px;
    height: 95px;
}

/* Navbar styles with dropdown toggle */
/* nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 6rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    border-top: 3px solid black;
} */

/* #menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

nav a {
    background-color: #5068A9;
    border-top: 1px solid #ffffff;
    color: #ffffff;
    height: 30px;
    width: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav .active {
    background-color: #ffffff;
    color: #5068A9;
}

nav .nav-list {
    display: flex;
    flex-direction: row;
    left: 30px;
}

#menu li a {
    padding: 0;
    left: -7px;
    height: 10vh;
}

#menu li {
    width: 100%;
}

#menu a:hover {
    background-color: lightgray;
} */

/* Nav toggle */
/* #nav-toggle:checked~nav {
    display: inline;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: absolute;
    right: 25px;
    top: 25px;
} */

/* Rewriting the Header */

header {
    box-shadow: 0 2px 2px #022656;
    position: relative;
}

.navbar {
    /* background-color: #022656; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* box-shadow: 0 2px 2px #0e109e; */
    display: none;
}

.hamburger {
    color: white;
}

.menu {
    list-style-type: none;
    display: block;
    width: 100%;
    text-align: center;
    /* padding-top: 10px; */
    position: absolute;
    /* margin-top: 156px; */
    background-color: #4EA0EC;
    z-index: 99;
}

.menu .list-menu {
    display: block;
    padding: 10px;
    border-top: 1px solid white;
}

.navbar .nav-list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}

.navbar a:hover {
    cursor: pointer;
}

.navbar span {
    position: relative;
}

.logo-container img {
    height: 85px;
    width: 130px;
    padding: 10px;
}

.logo-container {
    background: linear-gradient(#022656, #787878);
}

.toggle-icon {
    position: absolute;
    top: 40px;
    right: 30px;
    display: none;
}

.label-toggle-icon {
    display: block;
    position: absolute;
    right: 30px;
    top: 38px;
    /* bottom: 15px; */
}

.active {
    background-color: #9aa8a8;
}

/* Navbar display to list */
.navbar {
    flex-direction: column;
}

.toggle-icon:checked~nav {
    display: block;
}


/* Main */
main {
    /* background-color: white; */
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* margin-top: 103px; */
}

/* Hero section of Home page*/
#hero-image {
    height: 200px;
    width: 100%;
    background: url('../images/pngkey.com-ocean-water-png-9920712.png') no-repeat center/cover;
    /* opacity: 0.7; */
    /* margin-top: 20px; */
}

/* Hero section of Products page*/
#hero-image-products {
    height: 200px;
    width: 100%;
    background: url('../images/products-hero.png') no-repeat center/cover;
    /* opacity: 0.7; */
    /* margin-top: 20px; */
}

/* Hero section of Products page*/
#hero-image-contact {
    height: 200px;
    width: 100%;
    background: url('../images/pngegg\ \(2\).png') no-repeat center/cover;
    transform: rotate(180deg);
    /* opacity: 0.7; */
    /* margin-top: 20px; */
}

.hero-container {
    display: flex;
    justify-content: center;
}

/* go top button */
.go-top {
    display: flex;
    position: fixed;
    right: 35px;
    bottom: 84px;
    background-color: rgb(50 50 50 / 52%);
    padding: 10px 20px;
    border-radius: 30%;
}

.go-top-button {
    text-decoration: none;
    color: white;
    /* font-weight: larger; */
    font-size: 40px;
}

.top-icon {
    color: #0000008f;
}

/* Text after the hero image */

section {
    display: flex;
    flex-direction: column;
}

.text-container {
    background-color: white;
}

h1,
h3 {
    text-align: center;
    padding-top: 20px;
}

.black-logo {
    width: 20px;
    height: 20px;
}

.subscript {
    font-size: small;
}

hr {
    margin: 10px 30px 10px 30px;
    border-width: 1px;
    border-style: solid;
}

.description {
    display: flex;
    justify-content: center;
}

.alp-image {
    width: 100%;
    height: 400px;
    max-width: 425px;
    margin-top: 15px;
    padding: 20px;
}

p {
    padding: 0 35px 20px 35px;
    text-align: center;
}

/* Profit water section */
.profit-water {
    background: linear-gradient(45deg, #aeaeae, transparent);
}

.drinking-woman {
    width: 100%;
    height: 450px;
    max-width: 425px;
    margin-top: 15px;
    padding: 20px;
}

/* Products description */
.products {
    background-color: white;
}

.plastic-bottle {
    width: 100%;
    height: 450px;
    max-width: 375px;
    margin-top: 15px;
    padding: 20px;
}

.glass-bottle {
    width: 100%;
    height: 300px;
    max-width: 425px;
    margin-top: 15px;
    padding: 20px;
}

/* Footer */
footer {
    background: linear-gradient(#787878, #022656);
    color: white;
}

#social-network {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: white;
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    /* nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
    }

    header {
        align-items: initial;
    }

    #menu {
        position: relative;
        top: 15px;
    }

    .nav-toggle-label {
        display: none;
    } */

    /* New Header design */

    header {}

    .logo-container {
        position: absolute;
        width: 15%;
        height: 98px;
        background: linear-gradient(#022656, #787878);
        box-shadow: #78787800;
    }

    .navbar {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        flex-wrap: wrap;
        right: 0;
        height: 98px;
        background: linear-gradient(#022656, #787878);
    }

    .menu .list-menu {
        border: none;
        font-weight: bold;
        font-variant: small-caps;
        letter-spacing: 3px;
        padding-left: 40px;
        padding-right: 40px;
        /* border: 1px groove rgb(27, 27, 158); */
        /* border-radius: 9px; */
        /* margin-bottom: 27px; */
        margin-top: 49px;
        /* background: linear-gradient(#022656, #787878); */
        align-content: center;
        align-items: center;
    }

    #menu .active {
        background-color: #6495ed3d;
    }

    .label-toggle-icon {
        display: none;
    }

    .logo-container {
        /* border-bottom: 1px solid rgb(27, 27, 158); */
    }

    .navbar .nav-list {
        font-family: 'Hind';
        align-items: center;
        align-content: center;
        color: #FFFFFF;
    }

    /* Main content */
    main {
        margin-top: 98px;
    }


}