/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shadows+Into+Light&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

/* Header */

header {
    box-shadow: 0 2px 2px #022656;
    position: relative;
}

.navbar {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.hamburger {
    color: white;
}

.menu {
    list-style-type: none;
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: #4EA0EC;
    z-index: 99;
}

.menu .list-menu {
    display: block;
    padding: 10px;
    border-top: 1px solid white;
}

.navbar .nav-list {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Shadows Into Light';
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
}

.navbar a:hover {
    cursor: pointer;
}

.navbar span {
    position: relative;
}

.logo-container img {
    height: 85px;
    width: 130px;
    padding: 10px;
}

.logo-container {
    background: linear-gradient(#022656, #787878);
}

.toggle-icon {
    position: absolute;
    top: 40px;
    right: 30px;
    display: none;
}

.label-toggle-icon {
    display: block;
    position: absolute;
    right: 30px;
    top: 38px;
}

.active {
    background-color: #9aa8a8;
}

/* Navbar display to list */
.navbar {
    flex-direction: column;
}

.toggle-icon:checked~nav {
    display: block;
}


/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

.landing-image-container {
    background: linear-gradient(#f9fbff, #022656);
    height: 260px;
    width: 100%;
    z-index: 99;
}

.slogan {
    position: absolute;
    background-color: #022656;
    width: 200px;
    height: 200px;
    color: #ffffff;
    font-size: 52px;
    border-radius: 5px;
    left: 10px;
    z-index: 100;
    opacity: 60%;
    top: 280px;
}

.slogan-text {
    padding: 10px;
}

.landing-image {
    position: absolute;
    background: url('../images/landing-image-bottle.png') no-repeat center/cover;
    height: 300px;
    width: 150px;
    z-index: 99;
    right: 10px;
    top: 380px;
}

/* Hero section of Home page*/
#hero-image {
    height: 400px;
    width: 100%;
    background: url('../images/home-hero.png') no-repeat center/cover;
    transform: rotate(180deg);
}

/* Hero section of Products page*/
#hero-image-products {
    height: 200px;
    width: 100%;
    background: url('../images/products-hero.png') no-repeat center/cover;
}

/* Hero section of Contact page*/
#hero-image-contact {
    height: 200px;
    width: 100%;
    background: url('../images/contact-hero-image.png') no-repeat center/cover;
    transform: rotate(180deg);
}

.hero-container {
    display: flex;
    justify-content: center;
}

/* go top button */
.go-top {
    display: flex;
    position: fixed;
    right: 35px;
    bottom: 84px;
    background-color: rgb(50 50 50 / 52%);
    padding: 10px 20px;
    border-radius: 30%;
    z-index: 101;
}

.go-top-button {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

.top-icon {
    color: #0000008f;
}

/* Text after the hero image */

section {
    display: flex;
    flex-direction: column;
}

.text-container {
    background-color: white;
}

h1,
h3 {
    text-align: center;
    padding-top: 20px;
}

.black-logo {
    width: 20px;
    height: 20px;
}

.subscript {
    font-size: small;
}

hr {
    margin: 30px;
    border-width: 1px;
    border-style: solid;
}

.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.alp-image {
    width: 100%;
    height: 400px;
    max-width: 425px;
    margin-top: 15px;
    padding: 20px;
}

p {
    padding: 25px 35px;
}

.no-shadow {
    box-shadow: none;
}

h4 {
    padding: 10px 30px;
}

/* Profit water section */
.profit-water {
    background: linear-gradient(45deg, #aeaeae, transparent);
}

.drinking-woman {
    width: 100%;
    height: 450px;
    max-width: 425px;
    margin-top: 15px;
    padding: 20px;
}

/* Products description */
.products {
    background-color: white;
}

.plastic-bottle {
    width: 100%;
    height: 450px;
    max-width: 375px;
    margin-top: 15px;
    padding: 20px;
}

.glass-bottle {
    width: 260px;
    height: 280px;
    max-width: 425px;
    margin-top: 15px;
    padding: 20px;
}

/* Products HTML */
.products-image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-plastic-bottles-image {
    position: relative;
    margin: 10px;
    height: 200px;
    max-height: 275px;
    max-width: 90%;
}

.products-glass-image {
    position: relative;
    margin: 10px;
    height: 200px;
    max-height: 275px;
    max-width: 90%;
}


/* Quality steps section */
.quality-steps {
    display: flex;
}

.quality-steps-image {
    position: relative;
    margin: 10px;
    height: 200px;
    max-width: 90%;
    align-self: center;
}

.quality-steps-description {
    margin-top: 10px;
}

/* Table products page */
table {
    border-collapse: collapse;
    width: 80%;
    align-self: center;
    margin: 20px 0;
}

td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #cecece;
}

/* Contact page */
.contact-main {
    background: linear-gradient(45deg, #cecece, #ebebeb, #cecece);
}

.message-form {
    width: 90%;
    max-width: 470px;
    background-color: #FFFFFF;
    margin: 50px auto 50px;
    border-radius: 2px;
    box-shadow: 1px 1px 20px 1px #0000005c;
    padding: 40px 35px;
    text-align: center;
}

input {
    padding: 10px;
    background-color: #f4f8fb;
    border: none;
    outline: none;
    width: 90%;
}

input:focus {
    background-color: rgb(218, 218, 218);
}

/* Number input arrow remove*/
.phone-input::-webkit-outer-spin-button,
.phone-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.message-input {
    height: 150px;
    background-color: #f4f8fb;
    border: none;
    outline: none;
    width: 90%;
    padding: 10px;
    resize: none;
}

.message-input:focus {
    background-color: rgb(218, 218, 218);
}

label {
    display: flex;
    align-self: flex-start;
    margin: 16px 0 6px 22px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    color: #7a9196;
}

.submit-button {
    border-radius: 50px;
    margin: 20px;
    background: linear-gradient(90deg, #2937ff, #0072ff, #2937ff);
    color: #f4f8fb;
    padding: 13px 30px;
    box-shadow: 0px 0px 18px 0px #0000008a;
    max-width: 160px;
}

/* Contact section */
.contact-section {
    background-color: #fff;
}

h2 {
    color: #2143ff;
    padding: 20px 10px;
    text-align: center;
}

/* Footer */
footer {
    background: linear-gradient(#787878, #022656);
    color: white;
}

#social-network {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    list-style-type: none;
}

#social-network i {
    font-size: 160%;
    padding: 5%;
    color: white;
}



/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header design */
    .landing-image {
        right: 120px;
        height: 400px;
        top: 275px;
    }

    .slogan {
        left: 80px;
        bottom: 150px;
        width: 300px;
        height: 300px;
        font-size: 72px;
    }

    .logo-container {
        position: absolute;
        width: 15%;
        height: 98px;
        background: linear-gradient(#022656, #787878);
    }

    .navbar {
        display: block;
    }

    .menu {
        display: flex;
        justify-content: space-evenly;
        width: 85%;
        flex-wrap: wrap;
        right: 0;
        height: 98px;
        background: linear-gradient(#022656, #787878);
    }

    .menu .list-menu {
        border: none;
        font-weight: bold;
        font-variant: small-caps;
        letter-spacing: 3px;
        padding-left: 40px;
        padding-right: 40px;
        margin-top: 49px;
        align-content: center;
        align-items: center;
    }

    #menu .active {
        background-color: #6495ed3d;
    }

    .label-toggle-icon {
        display: none;
    }

    .navbar .nav-list {
        font-family: 'Hind';
        align-items: center;
        align-content: center;
        color: #FFFFFF;
    }

    /* Main content */
    main {
        margin-top: 98px;
    }

    /* Hero image */
    #hero-image-products {
        height: 265px;
    }

    /* Products page */
    .quality-steps-image {
        height: 375px;
    }

    .products-image-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 25px;
    }

    .products-plastic-bottles-image {
        height: 325px;
        width: 40%;
        order: 1;
        max-height: 325px;
        object-fit: contain;
    }


    .products-glass-image {
        height: 325px;
        width: 40%;
        order: 2;
        max-height: 325px;
        object-fit: contain;
    }

    .products-description {
        order: 3;
        width: 65%;
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
}

/* Media query: laptop and desktop (992px and up) */
@media screen and (min-width: 992px) {

    .landing-image {
        right: 200px;
        height: 500px;
        top: 200px;
    }

    .slogan {
        left: 80px;
        bottom: 100px;
        width: 300px;
        height: 300px;
        font-size: 72px;
    }

    .slogan-text {
        box-shadow: none;
    }

    p {
        width: 85%;
        align-self: center;
        box-shadow: 0px 0px 35px 5px gray;
        margin: 0 20px;
    }

    h4 {
        margin-left: 100px;
    }

    main {
        padding-bottom: 30px;
    }

    /* Home page */
    .description {
        flex-wrap: nowrap;
        margin: 0 45px 20px 45px;
    }

    .alp-image,
    .drinking-woman {
        width: 40%;
    }

    .description-p {
        width: 55%;
    }

    .drinking-woman {
        order: 1;
    }

    .profit-p {
        width: 55%;
        order: 0;
    }

    .home-third-section {
        padding-top: 40px;
        width: 50%;
    }

    .plastic-bottle {
        width: 25%;
        height: 350px;
        margin-top: 70px;
    }

    .glass-bottle {
        margin-top: 70px;
    }

    /* Products page */
    .products-plastic-bottles-image {
        width: 30%;
    }

    .products-glass-image {
        width: 30%;
        order: 4;
    }

    .products-description {
        width: 30%;
    }

    .quality-steps-image {
        margin-bottom: 25px;
    }

    .analyze-header {
        margin-top: 25px;
    }

    /* Contact Page */
    .section-container {
        display: flex;
        justify-content: center;
    }

    .contact-section {
        width: 40%;
        margin: 50px 0;
        padding: 20px;
        box-shadow: 1px 1px 20px 1px #0000005c;
    }

    .form-section {
        width: 45%;
    }

    .message-form {
        max-width: 100%;
    }

    label {
        margin: 16px 0 6px 45px;
    }

    .sales-agency-lable {
        text-align: left;
    }
}

/* Media query: ultra wide screens (1440px and up) */
@media screen and (min-width: 1440px) {

    /* Landing image */
    .landing-image {
        right: 350px;
        height: 500px;
        top: 350px;
    }

    .slogan {
        left: 240px;
        bottom: -13px;
        width: 300px;
        height: 300px;
        font-size: 72px;
        box-shadow: 0px 0px 25px 10px white;
    }

    #hero-image-contact {
        height: 350px;
    }

    #hero-image {
        height: 615px;
    }

    #hero-image-products {
        height: 350px;
    }
}